<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mazeapi" translate="label" sortOrder="50" class="mazeapi-tab">
            <label>Mazeapi</label>
        </tab>
        <section id="mazeapi_core_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>mazeapi</tab>
            <resource>Mazeapi_ForceLogin::GeneralSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Force Login Settings</label>
                <field id="force_login" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Force Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Force Login Module.</comment>
                </field>
                <field id="redirect_after_login" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect After Login</label>
                    <source_model>Mazeapi\ForceLogin\Model\Config\Source\RedirectAfterLogin</source_model>
                    <comment>Where user redirect after login</comment>
                </field>
            </group>

        </section>
    </system>
</config>